/* Search bar component styling */

.search-bar-comp input {
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  width: 100%;
  outline: none;
}
.search-bar-container {
  background-color: var(--plantlightgreen);
  display: flex;
  border-radius: 50px;
  width: 60%;
  margin: auto;
  align-items: center;
}

.search-icon {
  width: 30px;
  padding-right: 5px;
}
