/* This is not actually doing any styling? */
.shelfPage {
  display: flex;
}
.inventory {
  height: 95vh;
  /* border: 10px solid #ffffff; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr));
  grid-column-gap: 0px;
  column-gap: 0px;
  padding: 40px;

  grid-template-columns: repeat(auto-fill, minmax(80vw, 1fr));
  grid-auto-rows: auto;
  grid-gap: 0.5rem;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--plantwhite);

  border-right-style: solid;
  border-right-width: 50px;
  border-color: #855e42;
  /* border-left-style: solid; */
  /* border-left-width: 50px; */

  background: linear-gradient(
    to left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );
  background-size: 100px;
  background-repeat: repeat;
}

.inventory::-webkit-scrollbar {
  width: 1em;
}

.inventory::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(95, 68, 45, 0.3);
}

.inventory::-webkit-scrollbar-thumb {
  background-color: rgb(69, 46, 33);
  outline: 1px solid rgb(180, 225, 131);
}

/* @media screen and (max-width: 800px) {
    .inventory {
      grid-template-rows: 100px auto auto 100px;
    }

  } */

main {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */

  grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
  gap: 0px;
  justify-items: center;
}

.shelfPage {
  padding: 50px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );
  background-size: 100px;
  background-repeat: repeat;
}

.shelfPage a {
  background-color: #43a047;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #074518;
  @apply font-bold py-2 px-4 rounded;
  @apply hover:bg-green-700;
}

.card-image {
  cursor: pointer;
  z-index: 10;
}

.card-image:hover {
  border-radius: 4px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 3px solid #fff;
  position: relative;
  transition: 0.9s;
  border: 0.5rem outset var(--plantbrown);
  outline: 0.5rem solid var(--plantmediumgreen);
  box-shadow: 0 0 0 100vw var(--plantmediumgreen);
  z-index: 10;
}
.card-content {
  color: var(--plantmediumgreen);
  text-align: center;
  z-index: 10;
  margin-bottom: -80px;
  margin-left: auto;
  margin-right: auto;
}

.shelf {
  margin-top: -115px;
  /* margin-left: 70px; */
  /* border: 50px solid #855e42; */
  margin-bottom: 0px;
  width: 10px;
  display: block;
  content: url("../../assets/img/plantshelf.png");
  position: relative;
  width: 700px;
  height: 150px;
  margin-left: -40px;
  margin-right: auto;
  z-index: 0;
}

.addplant {
  background-color: var(--plantbrown) !important;
  color: var(--plantwhite);
  font-size: 1.5em;
  margin: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100px;
}
.addplant span {
  transform: rotate(-90deg);
}
.addplant:hover {
  transition: 0.6s;
  color: var(--plantmediumgreen);
}

.water-button {
  border: 0.5rem outset var(--plantmediumgreen);
  border-radius: 12px;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}
.water-button:hover {
  transition: 0.6s;
  border: 0.5rem outset rgb(245, 228, 161);
  outline: 0.5rem solid rgb(21, 73, 10);
  box-shadow: 0 0 0 2rem skyblue;
}
