/* Dark mode styling */

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

.dark {
  filter: grayscale(90%);
}

.light {
  filter: contrast(100%);
}

.white-content {
  background: #e4e4e4;
}
