.delete-account {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--plantred);
}

.delete-account input {
  border: 1px solid var(--plantred);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}

.delete-account input:hover {
  color: var(--plantwhite);
  background-color: var(--plantred);
}
