/* Plant Card styling */

.card {
  display: flex;
  flex-direction: column;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* border: 10px solid #ccc; */
  border-radius: 10px;
}
.card-image {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  width: 100%;
  flex: 0;
}

.card-image img {
  width: inherit;
}

.card-content {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  background-color: #43a047;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card-content h2 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.card-content p {
  color: white;
}

.shelf {
  height: 50px;
  width: 100%;
  background-color: rgb(164, 116, 73);
  /* background-image: url("../../assets/img/seamlesswood.jpg");
  -webkit-mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");
  mask-image: url("https://ucarecdn.com/9514f9b1-3bf9-4b7c-b31d-9fb8cd6af8bf/");  */
  /* -webkit-mask-image: url("../../assets/img/seamlesswood.jpg");
  mask-image: url("../../assets/img/seamlesswood.jpg"); */
}
