/* Search page styling */

.search-page {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: var(--plantmediumgreen);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 30px;
  border-radius: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}

.search-page h1 {
  color: var(--plantwhite);
  padding: 15px;
  font-size: 2.5rem;
}

.search-page p {
  color: var(--plantwhite);
  font-size: 1.1rem;
  padding: 15px;
}

.search-page h2 {
  cursor: pointer;
  padding: 0;
  margin: 10px;
  color: var(--plantwhite);
}
.search-page .here-link {
  border: solid #000 3px;
  border-top-left-radius: 70% 60%;
  border-bottom-right-radius: 70% 60%;
  color: var(--plantbrown);
  background-color: var(--plantbrown);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.search-page .search-bar {
  padding: 20px;
  /* Styling of the bar is in the bar component */
}

.search-page .search-list {
  padding: 20px;
  font-size: 1.5rem;
}

.search-info {
  padding-left: 35px;
}
