/* Search page styling */

.search-page {
    background-color: #43A047;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 700;    
    padding: 150px;
    padding-left: 300px;
    padding-right: 300px;
    border-top-left-radius:70% 60%;
    border-bottom-right-radius:70% 60%;
    -moz-border-top-left-radius:70% 50%;
    -moz-border-bottom-right-radius:70% 50%;
}

.search-page h1 {
    padding: 10px;
    font-size: 2rem;
}

.search-page .search-bar {
    padding: 20px;
    /* Styling of the bar is in the bar component */
}

.search-page .search-list {
    padding: 20px;
    font-size: 1.5rem;
}