@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

#root {
  margin: 0 auto;
}

* {
  margin: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}

/* body {
  background: linear-gradient(
    to left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );
  background-size: 100px;
  background-repeat: repeat;
} */

@media (prefers-color-scheme: dark) {
  body {
    background: rgb(0, 0, 0);
  }
}
