/* Navbar styling */

nav {
  background-color: var(--plantlightgreen);
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border: 2px solid var(--plantmediumgreen);
  border-bottom-right-radius: 80px 80px;
  border-bottom-left-radius: 80px 80px;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  font-size: 1.2rem;
}

nav li:hover {
  transform: translateY(2px);
}

/* .navlogo{
    background-color: #082618;
    padding: 50px;
    width: 100px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 600;
    border: 3px solid rgb(43, 40, 40);
    border-bottom-right-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
    top: 0;
    margin-top: 10px;
    z-index: 10;
    position: absolute;
} */
.img-logo {
  width: 50px;
  z-index: 100;
}
