.health-prediction {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  padding: 70px;
  text-align: center;
  background-color: var(--plantmediumgreen);
}

.health-prediction p {
  font-size: 1.3rem;
  padding: 30px;
  color: var(--plantwhite);
}

/* .health-header {
  margin-bottom: 20px;
} */

.health-heading {
  color: var(--plantwhite);
  font-size: 2.5rem;
  font-weight: 600;
}

.health-upload-form {
  margin-bottom: 10px;
}

.health-upload-image {
  width: 30%;
  margin: 20px auto;
  border-radius: 5px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload,
.upload-btn {
  font-weight: bolder;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid var(--plantwhite);
  border-radius: 10px;
  color: var(--plantwhite);
}

.custom-file-upload:hover,
.upload-btn:hover {
  background-color: var(--plantwhite);
  color: var(--plantmediumgreen);
}
