.canvashome {
  width: 95vw;
}
.canvas {
  width: 95vw;
}
.drag {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 8px;
  background-color: hotpink;
  cursor: grab;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 10px;
}

.drag:focus {
  border: 2px solid red;
}

.annotationDescription {
  color: rgb(227, 227, 222);
  background-color: rgba(139, 138, 138, 0.657);
  padding: 20px;
  font-size: 35px;
}